CloudThingStoreConsoleApp/bin 
CloudThingStoreConsoleApp/obj
CloudThingStoreConsoleApp.csproj
CloudThingStoreServices/bin 
CloudThingStoreServices/obj

CloudThingStoreServices.csproj
CloudThingStore.sln
.vscode